*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row{
  max-width: 1140px;
  margin: 0 auto;
}

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/back_1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

h1{
  margin: 0;
}

img{
  position: absolute;
  height: 50vh;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head-box{
  position: absolute;
  width: 50%;
  height: 40vh;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head-box-text{
  height: 70%;
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  justify-content: center;
  color: #803314c5;
}

.head-box-text-1{
  text-align: center;
  width: 100%;
  vertical-align: middle;
  font-size: calc(25px + (42 - 25) * ((100vw - 300px) / (1920 - 300)));
  text-transform: capitalize;
}

.head-box-text-2{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: calc(25px + (42 - 25) * ((100vw - 300px) / (1920 - 300)));
  text-transform: capitalize;
}

.head-box hr{
  width: 20%;
  text-align: center;
  margin: 1% auto;
}

.head-box-btn{
  height: 20%;
  display: flex;
  justify-content: space-around;
  margin: 1% auto;
}

.btn{
  display: inline-block;
  text-decoration: none;
  margin: auto 0;
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
  border-radius: 10%;
  color: #fff;
}

.btn-full{
  background-color: #ea9928;
	-moz-border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
	-webkit-border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
  border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
  border-color:  #ea9928;
  border-style: solid;
  cursor: pointer;
  padding: 10px; 
}

.btn-full:hover{
  border-color: #e8b82a;
  background-color:#e8b82a;
}

.btn-full:active {
	position:relative;
	top:1px;
}

.btn-ghost{

	-moz-border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
	-webkit-border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
	border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
  border-color:  #ea9928;
  border-style: solid;
  color: #ea9928;
  cursor: pointer;
  padding: 10px; 
}

.btn-ghost:hover{
  border-color: #e8b82a;
  color: #e8b82a;
}

.btn-ghost:active {
	position:relative;
	top:1px;
}
