*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row{
  max-width: 1140px;
  margin: 0 auto;
}

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/back_1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

h1{
  margin: 0;
}

img{
  position: absolute;
  height: 50vh;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head-box{
  position: absolute;
  width: 50%;
  height: 40vh;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head-box-text{
  height: 70%;
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  justify-content: center;
  color: #881600;
}

.glow {
  --interval: 1s;
  text-shadow: 
    0 0 10px var(--color1),
    0 0 20px var(--color2),
    0 0 40px var(--color3),
    0 0 80px var(--color4);
  will-change: filter, color;
  filter: saturate(50%);
  animation: flicker steps(100) var(--interval) 1s infinite;
  color: yellow;
  --color1: goldenrod;
  --color2: orangered;
  --color3: mediumblue;
  --color4: red;
}

@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(20deg);
  }
}

.head-box-text-1{
  text-align: center;
  width: 100%;
  vertical-align: middle;
  font-size: calc(25px + (42 - 25) * ((100vw - 300px) / (1920 - 300)));
  text-transform: capitalize;
}

.head-box-text-2{
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: calc(25px + (42 - 25) * ((100vw - 300px) / (1920 - 300)));
  text-transform: capitalize;
}

.hr-text{
  width: 20%;
  color: black;
  text-align: center;
  margin: 1% auto;
  opacity: 0.5;
  background: linear-gradient(to right, transparent, #818078, transparent);
}

.head-box-btn{
  height: 20%;
  display: flex;
  justify-content: space-around;
  margin: 1% auto;
}

.btn{
  display: inline-block;
  text-decoration: none;
  margin: auto 0;
  font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1920 - 300)));
  border-radius: 10%;
  color: #fff;
}

.btn-full{
  border-color:  #6f2108;
  background-color: #6f2108;
  border-style: solid;
  -moz-border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
	-webkit-border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
  border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
  cursor: pointer;
  padding: 10px; 
}

.btn-full:hover{
  border-color: #5f1c07;
  background-color: #5f1c07;
}

.btn-full:active {
	position:relative;
	top:1px;
}

/*
.btn-ghost{
  -moz-border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
	-webkit-border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
	border-radius: calc(18px + (26 - 18) * ((100vw - 300px) / (1920 - 300)));
  border-color:  #881600;
  border-style: solid;
  color: #881600;
  cursor: pointer;
  padding: 10px; 
}

.btn-ghost:hover{
  border-color: #440b00;
  color: #aa1b00;
}

.btn-ghost:active {
	position:relative;
	top:1px;
}


.glow:hover {
  -webkit-mask-image: linear-gradient(-20deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
*/